@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row">
        <div class="top-nav-item nav-item px-1">
            <a href="https://aka.ms/AA7q20u" target="_blank" id="bg-info-link">Tell us what you think!</a>
        </div>
        <div class="top-nav-item nav-item px-1">
            <a href="https://aka.ms/tye" target="_blank" id="bg-info-link">About</a>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
