<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="featherhttp" value="https://f.feedz.io/davidfowl/featherhttp/nuget/index.json" />
    <add key="bedrockframework" value="https://f.feedz.io/davidfowl/bedrockframework/nuget/index.json" />
    <add key="opentelemetry" value="https://www.myget.org/F/opentelemetry/api/v3/index.json" />
  </packageSources>
</configuration>
