@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row top-nav-item nav-item px-4">
        <a href="https://github.com/dotnet/tye" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
