<AuthorizeView>
    <Authorized>
        <form method="post" action="/logout">
            <button type="submit" class="btn btn-primary">Log out</button>
        </form>
    </Authorized>
</AuthorizeView>
