<AuthorizeView>
    <Authorized>
        <form method="post" action="/logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
</AuthorizeView>
