<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web_app</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div>
            &copy; 2020 - web_app
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
